.pn__wrapper {
  align-self: flex-end;
  margin-top: 2rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.pn__btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.pn__btn {
  width: 40px;
  height: 40px;

  border: none;
  background-color: var(--white-color);
  color: var(--secondary-color);
  border-radius: 10px;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.035));

  transition: all 0.3s ease-in-out;

  cursor: pointer;

  svg {
    width: 50%;
    height: 50%;
  }

  &:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
}

.pn__btn--disabled, .pn__btn--disabled:hover {
  background-color: var(--lightGray-color);
  color: var(--gray-color);
}
